

h1 {
  text-align: center;
  margin: 20px 0; /* Margem superior e inferior para o título */
  font-size: 24px;
  color: #333;
}

/* Layout para empilhar as áreas verticalmente */
.layout {
  display: flex;
  flex-direction: column; /* Áreas em colunas, uma embaixo da outra */
  gap: 20px; /* Espaço entre as áreas */
  margin-top: 30px; /* Margem superior para dar espaço abaixo do título */
}



.area h2 {
  margin-bottom: 10px;
  color: #333;
}

/* Mesas dentro das áreas */
.mesa {
  width: 100px;
  height: 50px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: grab;
  border-radius: 10px;
  border: 2px solid #000;
  background-color: #4caf50; /* Cor padrão */
  transition: background-color 0.3s ease;
}
.mesa:active {
  cursor: grabbing;
}

/* Área que limita as mesas */
.area {
  background-color: #e2e2e2;
  border: 2px dashed #000;
  min-height: 400px;
  padding: 20px;
  position: relative; /* Necessário para que bounds="parent" funcione */
  overflow: hidden; /* Garante que as mesas não saiam da área */
}
.mesa:hover {
  opacity: 0.8;
}

/* Tornar a página scrollável verticalmente */
html, body {
  height: 100%;
  overflow-x: hidden; /* Somente rolagem vertical */
}

@media (max-width: 600px) {
  .mesa {
    width: 80px;
    height: 80px;
  }
}


.mesa button {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 10px;
  padding: 5px;
}
